
List of buyers:<br>


<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let buyer of buyers">
      <a>
      <td>{{ buyer.firstName }}</td>
      </a>
      <td>{{ buyer.lastName }}</td>
      <td>{{ buyer.email }}</td>

      <td><button type = "button" class="btn btn-primary"  [routerLink]="['/buyers', buyer.id]" >Check latest purchases</button></td>

      <td><button type ="button" (click) = "removeBuyer(buyer)" class="btn btn-danger">Remove buyer </button></td>   
    </tr>
    </tbody>
</table>

<div class="form-group">
  <form >
      <label>First name</label>
      <input type="text" name="firstName" [(ngModel)]="newBuyer.firstName" class="form-control"><br>
      <label>Last name</label>
      <input type="text" name="lastName" [(ngModel)]="newBuyer.lastName" class="form-control"><br>
      <label>Email</label>
      <input type="text" name="email" [(ngModel)]="newBuyer.email" class="form-control"><br>
     <button (click)="addBuyer()" class="btn btn-success">Add new buyer</button>
  </form>
</div>

<router-outlet></router-outlet>