Search product:
<input type="text" name="" [(ngModel)]="searchTerm">

<table class="table">
    <thead>
      <tr>
        <th>Name of product: </th>
        <th> Number in stock: </th>
      </tr>
    </thead>
    <tbody *ngFor = "let product of products | filter:searchTerm">
      <tr> 
        <td>{{ product.name }}</td>
        <td>{{ product.numberInStock }}</td>
        <td> <button class="btn" (click)="incrementProduct(product)"> + </button></td>
        <td> <button class="btn" (click)="decrementProduct(product)"> - </button></td>
        <td> <button class="btn" [routerLink] ="['/products', product?.id ]"> Sell </button></td>

      </tr>
    </tbody>
  </table>
  
  
<router-outlet></router-outlet>