Search product:
<input type="text" name="" [(ngModel)]="searchTerm">

<table class="table">
    <thead>
      <tr>
        <th>Name of product: </th>
        <th> Number in stock: </th>
      </tr>
    </thead>
    <tbody *ngFor = "let product of products | filter:searchTerm">
      <tr> 
        <th>{{ product.name }}</th>
        <th>{{ product.numberInStock }}</th>
        <th> <button class="btn" (click)="incrementProduct(product)"> + </button></th>
        <th> <button class="btn" (click)="decrementProduct(product)"> - </button></th>
      </tr>
    </tbody>
  </table>
  
  
<router-outlet></router-outlet>